/* Root and General styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}


.Nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  padding: 10px 20px;
  z-index: 1000;
  top: 2rem;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.navbar .menu {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {

.drop-down-menu{
  display: none;
}

}

.dropdown:hover .drop-down-menu{
  display: block;
  position: absolute;
  background-color: black;
  border-radius: 12px;
  z-index: 1000;
  padding: 0.6rem;
}

.drop-down-item{
  padding: 0.3rem;
  cursor: pointer;
}

.navbar .menu-item {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.menu-item:hover {
  color: #05ccb5;
}

/* Mobile Navbar styles */
.Mobile-Nav-container {
  display: none;
}

@media (max-width: 768px) {
  .Nav-container {
    display: none;
  }

  .Mobile-Nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #04033f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001; /* Ensure it's above other content */
  }

  .navbar-mobile{
    display: flex;
    justify-content:space-between;
    gap: 5rem;
    align-items: center;
    flex-direction: row;
    width: 90%;
  }

  .navbar-mobile .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: right 0.3s ease;
    z-index: 1000; /* Ensure the menu is on top */
  }

  .navbar-mobile .menu.show {
    right: 0;
  }

  .menu-item {
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  .Mobile-Nav-container .hamburger {
    cursor: pointer;
    font-size: 32px;
  }

  

}

.close-menu {
  display: flex;
  justify-content: left;
  padding-left: 15px;
  color: white;
  font-size: 32px;
  cursor: pointer;

}


/* Prevent scrolling when the menu is open */
body.no-scroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  .main-welcome-container{
    margin-top: 2rem;
  }
}


.welcome-div {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.welcome-div h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  line-height: 1.2;
  font-weight: 400;
}

.welcome-div span {
  display: inline-block;
}

.mainLogo {
  width: clamp(100px, 20vw, 200px);
  height: auto;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .welcome-div {
    margin-top: 5rem;
    padding: 0;
  }

}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .cardsContainer {
    margin-top: 2rem;
    gap: 0.75rem;
  }
 
}

/*#region*/
.card {
  position: relative;
  width: 190px;
  height: 254px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden; /* Ensure the image doesn't overflow the card */
  border-radius: 1.2em; /* Added border-radius directly to the card for smooth edges */
}


.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #029c89, #FFFFF7);
  border-radius: 1.2em;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #01d0b7, #FFFFF7);
  filter: blur(25px);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.card span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 2rem;
    width: 155px;
    height: 155px;
  }
}

.card .content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .content .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
  color: whitesmoke;
  z-index: 11;
  transition: all 0.5s;
  padding: 3px;
}

.card .content img {
  width: 178px;
  height: 244px;
  object-fit:cover;
  border-radius: 1em;
  transition: filter 0.5s;
  filter: brightness(0.555);
}


.card:hover .content .text {
  color: #01d0b7;
  
}

@media (max-width: 768px) {

  .card .content img {
    width: 143px;
    height: 143px;
    object-fit: cover;
    border-radius: 1em;
    transition: filter 0.5s;
}

  .card .content .text {
    font-size: 1.3rem;
  }
}



/*#endregion*/


.card2 {
  position: relative;
  width: 190px;
  height: 254px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;/* Ensure the image doesn't overflow the card */
  border-radius: 1.2em; /* Added border-radius directly to the card for smooth edges */
  

}

@media (max-width: 768px) {
  .card2 {
    margin-bottom: 2rem;
    width: 155px;
    height: 155px;
  }
}

.card2:hover {
  transform: translateY(-20px);
}

.card2::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #029c89, #FFFFF7);
  border-radius: 1.2em;
}

.card2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #01d0b7, white);
  filter: blur(25px);
}

.card2 span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.card2 span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.card2 .content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card2 .content .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
  color: whitesmoke;
  z-index: 11;
  transition: all 0.5s;
  padding: 3px;
  
}

.card2 .content img {
  width: 178px;
  height: 244px;
  object-fit:cover;
  border-radius: 1em;
  transition: filter 0.5s;
  filter: brightness(0.6);
}

.card2:hover .content .text {
  color: #01d0b7;
}

@media (max-width: 768px) {

  .card2 .content img {
    width: 143px;
    height: 143px;
    object-fit: cover;
    border-radius: 1em;
    transition: filter 0.5s;
}

  .card2 .content .text {
    font-size: 1.3rem;
  }
}


.elements-container{
    padding-top: 30px;
  }

  .bCrad_contanier{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 60px;
  }


  .bcard {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 15rem;
    height: 22rem;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1rem;
  }


  .image_container {
    overflow:hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
  }

  .image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .title {
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .product_description{
    margin: 0;
    font-size: 12px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

  .size {
    font-size: 0.75rem;
    color: var(--light);

  }

  .list-size {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 0.75rem;
    flex-wrap: wrap; /* Allow items to wrap to the next line */

  }

  .list-size .item-list {
    list-style: none;
  }

  .list-size .item-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 43.75px;
    background: #03D1B8;
    font-size: 0.75rem;
    color: black;
    border: none;
    transition: all 0.3s ease-in-out;
    width: 6rem;
  }

  .item-list-button.selected {
    background-color: var(--primary);
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .price {
    font-size: 0.9rem;
    color: var(--light);
  }


  .cart-icon {
    width: 1rem;
  }

@media (max-width: 768px) {
  .bcard{
    width: 17rem;
  }
  .title{
    font-size: 1.5rem;
  }
  .product_description{
    font-size: 1rem;
  }
  .size{
    font-size: 1rem;
  }
}

  .search_erea{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  .searchBox {
    display: flex;
    width: clamp(20rem, 50vw, 50rem);
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.5rem, 1vw, 1rem);
    background: #2f3640;
    border-radius: 50px;
    position: relative;
  }

  .searchButton {
    background: none;
    font-size: 1.5rem;
    color: white;
    margin-right: 0.35rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));*/
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  /*hover effect*/
  /* button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  } */
   
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 1.2rem;
  }

      .btn {
        display: flex;
        width: 155.663px;
        height: 32px;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        gap: 3.259px;
        border-radius: 27.159px;
        background: linear-gradient(90deg, #6100D6 0%, #03D1B8 100%), var(--Neutral-Colour-Neutral-Colour, #FFF);
        border: none;
        font-size: 1rem;
        color: whitesmoke;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .btn .cart-icon {
        transition: transform 0.3s ease-in-out;
    }

    .btn.added .cart-icon {
        transform: translateX(100%);
    }

    .btn .text {
        transition: opacity 0.3s ease-in-out;
    }

   

    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }

  .account-page-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1rem;
    margin: 1rem auto 1rem auto;  /* this combines margin-top: 5rem; and the horizontal centering */
    width: 48%;
}

.login-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5px;

}

.login-btn{
  display: flex;
  width: 155.663px;
  height: 32px;
  padding: 5.616px 28.082px;
  justify-content: center;
  align-items: center;
  gap: 3.259px;
  border-radius: 27.159px;
  background: linear-gradient(90deg, #6100D6 0%, #03D1B8 100%), var(--Neutral-Colour-Neutral-Colour, #FFF);
  border: none;
  font-size: 1.2rem;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.account-page-container h2{
  font-size: clamp(2rem, 1vw + 0.5rem, 5rem);
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .account-page-container {
    width: 80%;
  }
}
  


/* Footer styling */
.footer {
  margin-top: 7rem;
  padding: 0.5rem 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 45px;
  width: 60%;
}


.footer p {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem); /* Responsive font size using clamp */
}
/* Social container and icon styling */
.social-container .icon {
  background-color: #03d2b8;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  padding: 8px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.social-container .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Responsive styling */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top:1rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    width: 80%;
  }

  .social-container .icon {
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-left: 0.5rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.5rem;
    margin-top:2rem;
    margin-bottom: 3rem;
    border-radius: 30px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    width: 80%;
  }

  .social-container .icon {
    width: 20px;
    height: 20px;
    padding: 6px;
    margin-left: 0.3rem;
  }
}

/* Cart Css */

.cart{
  padding-top: 5rem;
}

@media (max-width: 768px) {
  .cart {
    padding: 3rem 2rem 0 2rem;

  }
}

.cart-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Space between the two containers */
}

.cart-page-container h2{
  font-size: clamp(2rem, 1vw + 0.5rem, 5rem);
}

.cart-container, .user-details-container {
  width: 48%; /* Each container takes about half the available width */
  max-width: 600px; /* Maximum width for each container */
  padding: 20px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: box-shadow 0.3s ease-in-out;
}

.cart-container:hover, .user-details-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.cart-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.cart-heading h2{
  margin: 0;
  padding: 0;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease-in-out;
}


.item-details {
  flex: 1;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}



.item-image{
  width: 70px;
  height: 40px;
  object-fit: cover;
  border-radius: 1em;

}

@media (max-width: 1128px) {
  .item-details {
    flex-direction: column;
    gap: 0;
    
  }

  .item-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 1em;
  }

  .item-name {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  
  .item-price {
    font-size: 1rem;
    color: #888;
    margin: 0;
    padding: 0;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .item-preference{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

}

.item-name {
  font-size: 1.2rem;
}

.item-price {
  font-size: 1rem;
  color: #888;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03d2b8;
  color: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.quantity-button:hover {
  background-color: #029c89;
  transform: scale(1.1);
}

.delete-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.quantity-number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.total-label {
  font-weight: bold;
}

.total-price {
  color: #03d2b8;
}

.checkout-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #03d2b8;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.checkout-button:hover {
  background-color: #029c89;
  transform: scale(1.01);
}

/* User details form */
.user-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: flex;
  font-size: 1rem;
  margin-bottom: 5px;

}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
}

.cart-page-container ::placeholder{
  color: black;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #03d2b8;
}

/* Responsive styling */
@media (max-width: 768px) {
  .cart-page-container {
    flex-direction: column;
    align-items: center;
  }

  .cart-container, .user-details-container {
    width: 100%;
  }
}

.mobile-nav{
  display: none;
}

@media (max-width: 780px) {
  .Mobile-nav-container{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1002;
  }
  .mobile-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .mobile-nav-item{
    font-size: 1.2rem;
    color: whitesmoke;
  }

  .cart-nav{
    position: relative;
  }

  .m-cart{
    color: whitesmoke;
    /*margin-bottom: 20px;*/
    font-size: 1.2rem;

  }


  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #03d2b8;
    color: white;
    border-radius: 50%;
    padding: 0.5px 5px;
    font-size: 10px;
    font-weight: bold;
}

/* Optionally add some animation */
@keyframes pop {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.cart-count {
    animation: pop 0.3s ease;
}
}


.d-cart-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1.5rem;
  background-color: #03d2b8;
  color: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 10px;
  font-weight: bold;
}

.right-pointer{
  display: none;
}

.left-pointer{
  display: none;
}

@media (max-width: 768px) {

  .right-pointer{
    display: block;
    position: fixed;
    top: 4.2rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .left-pointer{
    display: block;
    position: fixed;
    top: 4.2rem;
    left: 1rem;
    cursor: pointer;
    font-size: 2rem;
  }
 
}

.loginLogo{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100px;
  height: auto;
  vertical-align: middle;
}

.login-msg{
  margin: 0;
  padding: 0;
  color: gray;
}

.customer-order-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease-in-out;
  margin-top: 2.5rem;
}

.customer-order-details h1{
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .customer-order-details{
    margin-top: 3rem;
  }

  .customer-order-details h1{
    font-size:clamp(1.5rem, 2vw + 1rem, 2rem);
    gap: 1rem;
  }
}

.order-h2{
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex-grow: 1;
}

.toggle-password {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 0.9em;
}


.details-table{
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 26px;
  padding: 1rem;
}

.details-table-oreder-details{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.2rem;
  gap: 1rem;
}

.details-table-oreder-details img{
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 1em;
}

@media (max-width: 768px) {
  .details-table-oreder-details{
    font-size: 1rem;
    gap: 1rem;
    
  }
  .details-table-oreder-details img{
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 1em;
  }
}

.orders-table{
  background: rgba(255, 255, 255, 0.21);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.loading{
  display: flex;
  gap: 0.75rem;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 18rem;
}

.loading-inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1rem;
  gap: 0.5rem;
  
}

.bloading{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  
}

/* loader spinner */


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #03d2b8;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper .ant-table{
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper tfoot>tr>td {
    padding: 8px 8px;
  }
}



